<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
     @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
      *
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background: #131c21;
}
.footer
{
    width: 100vw;
    height: 19vh;
    background:  #00af9c;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .button
{
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background: rgb(2, 172, 224);
    color: white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.centeral
{
    width: 70vw;
    height: 50vh;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 5vh;
    flex-direction: column;
    margin-left: 15vw;
}
.centeral input
{
    padding: 8px 60px;
    border: 1px solid grey;
    border-radius: 10px;
    outline: none;
}
.centeral .button 
{
    margin-top: 15px;
    padding: 8px 30px;
    border: none;
    border-radius: 4px;
    background: #00af9c;
    color: white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.centeral .button:hover
{
    
    background: #00af9c;
}
.centeral h3
{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    color: #2a2f32;
}
.navbar-brand
{
    font-size: 30px;
    font-family: 'poppins'; 
    text-decoration: none;
    color: #00af9c;
    text-decoration: none;
}
nav
{
    width: 100vw;
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
  </style>
    <title>QuranPak</title>
  </head>
  <body> 
        <nav>
            <a class="navbar-brand" href="/"> <i class="fa fa-heart-o"></i> FURQAN - E - HAMEED </a>
          </nav>
    
      
<hr>


      <form action="/" method="post" class="centeral">
          <h3>Enter Surah</h3>
          <input type="number" name="surah" placeholder="example : 114"  autocomplete="off">
        <button type="submit" name="btn" class="button">Submit</button>
        </form>




<div class="footer">
    
</div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>